[Unit]
Description=Creates symbolic links to commands in AquariusOS programs directory
After=VFSMK.service

[Service]
Type=simple
ExecStart=/usr/bin/apprun.sh {{SYS_SERVICES}}/nixshcompliance.apprun
#StandardOutput=journal

[Install]
WantedBy=multi-user.target
