[Unit]
Description=AquariusOS Directory Service Client Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
CapabilityBoundingSet=CAP_SYS_ADMIN
AmbientCapabilities=CAP_SYS_ADMIN
WorkingDirectory=/opt/aqua/homes/root
ExecStart=/usr/local/sbin/apprun.sh /opt/aqua/sys/services/me.hysong.aqua.services.DirectoryMaker.apprun
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
