[Unit]
Description=AppRun DropIn Serviceo
After=graphical.target systemd-user-sessions.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/usr/local/sbin/apprun.sh /usr/local/AppRun/me.hysong.services.apprundropin.apprun

[Install]
WantedBy=graphical.target
