[Unit]
DefaultDependencies=no
Before=plymouth-start.service plymouth-quit-wait.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart={{AQUAROOT}}/boot/preboot/prebootld.sh

[Install]
WantedBy=sysinit.target
